PROJECT_ID=projecy_id
FALCON_ENDPOINT_ID=falcon_endpoint_id
GEMMA_ENDPOINT_ID=gemma_endpoint_id
LLAMA_ENDPOINT_ID=llama_endpoint_id
IMAGE_GCS_PATH=image_gcs_path
VECTOR_SEARCH_STAGING_BUCKET=VECTOR_SEARCH_STAGING_BUCKET
VECTOR_SEARCH_STREAM_INDEX_ID=VECTOR_SEARCH_STREAM_INDEX_ID
VECTOR_SEARCH_STREAM_ENDPOINT_ID=VECTOR_SEARCH_STREAM_ENDPOINT_ID
VECTOR_SEARCH_BATCH_INDEX_ID=VECTOR_SEARCH_BATCH_INDEX_ID
VECTOR_SEARCH_BATCH_ENDPOINT_ID=VECTOR_SEARCH_BATCH_ENDPOINT_ID