# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.env
.venv
env/
venv/

# IDE
.idea/
.vscode/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/

# Mypy
.mypy_cache/

# Jupyter
.ipynb_checkpoints/
